<div class="container fadeIn" [ngClass]="{'fadeOut' : searchDone}">
    <div class="row fixPossion">
        <div class="col">
            <app-weathersearch (searchInputEvent)="reciveAndSend($event)"></app-weathersearch>
        </div>
    </div>
    <div class="row fixPossion">
        <div class="col">
            <app-weather-main-display></app-weather-main-display>
        </div>
    </div>
    <div class="row fixPossion">
        <div class="col">
            <app-weather-five-days></app-weather-five-days>
        </div>
    </div>
</div>