.fixPossion{
    margin-top: 2%;   
}

.fadeIn{
    animation: fadeInEffect;
    animation-duration: 1s;
}

@keyframes fadeInEffect{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.fadeOut{
    animation: fadeOutEffect;
    animation-duration: 0.25s;
}

@keyframes fadeOutEffect{
    0%{opacity: 1;}
    100%{opacity: 0;}
}